<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds">
  <!-- 콘솔에 로그 출력 설정 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg - LOG_PATH: ${LOG_PATH}%n</pattern>
    </encoder>
  </appender>

  <!-- 파일 로그 출력 설정 -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/app.log</file> <!-- 로그 파일의 기본 경로 -->
    
    <!-- 롤링 정책 설정 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${log.config.path}/logs/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern> <!-- 날짜별 파일 생성 -->
      <maxFileSize>20MB</maxFileSize> <!-- 파일 크기 제한 -->
      <maxHistory>14</maxHistory> <!-- 14일 동안의 로그만 보관 -->
      <totalSizeCap>1GB</totalSizeCap> <!-- 로그 파일 총 용량 제한 -->
    </rollingPolicy>

    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg - LOG_PATH: ${LOG_PATH}%n</pattern>
    </encoder>
  </appender>

  <!-- 로거 레벨 설정 (파일과 콘솔 모두 적용) -->
  <root level="info">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>

</configuration>
