<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

  <!-- 콘솔에 로그 출력 설정 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- info 레벨 로그를 기록할 파일 설정 -->
  <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    
    <!-- 롤링 정책 설정 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/info/info-%d{yyyy-MM-dd}.%i.log</fileNamePattern> <!-- 날짜별 파일 생성 -->
      <maxFileSize>10MB</maxFileSize> <!-- 파일 크기 제한 -->
      <maxHistory>14</maxHistory> <!-- 14일 동안의 로그만 보관 -->
      <totalSizeCap>1GB</totalSizeCap> <!-- 로그 파일 총 용량 제한 -->
    </rollingPolicy>
    
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level> <!-- info 이상의 레벨만 기록 -->
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>

    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- warn 레벨 로그를 기록할 파일 설정 -->
  <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    
    <!-- 롤링 정책 설정 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/warn/warn-%d{yyyy-MM-dd}.%i.log</fileNamePattern> <!-- 날짜별 파일 생성 -->
      <maxFileSize>10MB</maxFileSize> <!-- 파일 크기 제한 -->
      <maxHistory>14</maxHistory> <!-- 14일 동안의 로그만 보관 -->
      <totalSizeCap>1GB</totalSizeCap> <!-- 로그 파일 총 용량 제한 -->
    </rollingPolicy>

    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>WARN</level> <!-- warn 이상의 레벨만 기록 -->
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>

    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- error 레벨 로그를 기록할 파일 설정 -->
  <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    
    <!-- 롤링 정책 설정 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/errors/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern> <!-- 날짜별 파일 생성 -->
      <maxFileSize>10MB</maxFileSize> <!-- 파일 크기 제한 -->
      <maxHistory>14</maxHistory> <!-- 14일 동안의 로그만 보관 -->
      <totalSizeCap>1GB</totalSizeCap> <!-- 로그 파일 총 용량 제한 -->
    </rollingPolicy>

    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level> <!-- error 레벨만 기록 -->
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>

    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- 로거 레벨 설정 (파일과 콘솔 모두 적용) -->
  <root level="info">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="INFO_FILE" />
    <appender-ref ref="WARN_FILE" />
    <appender-ref ref="ERROR_FILE" />
  </root>

</configuration>
