<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.booklink.admin.AdminMapper">

<select id="isAdmin"
		parameterType="com.office.booklink.admin.AdminDto" 
		resultType="com.office.booklink.admin.AdminDto">
		SELECT * FROM TBL_ADMIN
		WHERE A_ID = #{A_ID};
</select>

<select id="addAdmin"
		parameterType="com.office.booklink.admin.AdminDto" 
		resultType="com.office.booklink.admin.AdminDto">
		INSERT INTO TBL_ADMIN
		(A_ID, A_PW, A_PHONE, A_MAIL)
		VALUES (#{A_ID}, #{A_PW}, #{A_PHONE}, #{A_MAIL}) 
</select>

<select id="modifyAdmin"
		parameterType="com.office.booklink.admin.AdminDto" 
		resultType="com.office.booklink.admin.AdminDto">
		UPDATE TBL_ADMIN
		SET 
		<if test='A_PW != ""'>
			A_PW=#{A_PW},
 		</if>
		A_PHONE=#{A_PHONE}, A_MAIL=#{A_MAIL}, A_MOD_DATE=NOW() 
		WHERE A_ID=#{A_ID}
</select>

<select id="deleteAdmin"
		parameterType="com.office.booklink.admin.AdminDto" 
		resultType="com.office.booklink.admin.AdminDto">
		DELETE FROM TBL_ADMIN
		WHERE A_ID=#{A_ID}
</select>

<select id="getid"
		parameterType="com.office.booklink.admin.AdminDto" 
		resultType="com.office.booklink.admin.AdminDto">
		SELECT * FROM TBL_ADMIN
		WHERE A_PHONE=#{A_PHONE}
</select>



</mapper>