<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.booklink.library.LibraryDao">

<select id="searchName"
		parameterType="String" 
		resultType="com.office.booklink.library.LibraryDto">
		SELECT * FROM TBL_LIBRARY
		WHERE L_NAME LIKE CONCAT('%', #{NAME}, '%')
</select>

<select id="searchRegion"
		parameterType="String" 
		resultType="com.office.booklink.library.LibraryDto">
		SELECT * FROM TBL_LIBRARY
		WHERE L_ADDRESS LIKE CONCAT('%', #{region}, '%')
</select>
</mapper>