<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.booklink.stat.StatMapper">
    
    <select id="selectBookReadByGender" resultType="map">
	    SELECT
	        DATE_FORMAT(W_REG_DATE, '%Y-%m') AS month,
	        U_SEX AS gender,
	        U_AGE AS age,
	        COUNT(*) AS count
	    FROM TBL_WISHLIST
	    JOIN TBL_USER ON TBL_WISHLIST.W_U_ID = TBL_USER.U_ID
	    WHERE W_B_READ = 1
	    GROUP BY month, gender, age
	</select>

	<select id="getBookRank" resultType="map">
	    SELECT
 	        W_NAME AS name,
	        COUNT(*) AS count
	    FROM TBL_WISHLIST
	    JOIN TBL_USER ON TBL_WISHLIST.W_U_ID = TBL_USER.U_ID
	    WHERE 
	        (DATE_FORMAT(W_REG_DATE, '%Y') = #{year})
	        <if test = "month != ''">
	        	AND (DATE_FORMAT(W_REG_DATE, '%m') = #{month})
	        </if>
	        <if test = "gender != ''">
        		AND (U_SEX = #{gender})
        	</if>
        	<if test = "ageGroup != ''">
        		AND (U_AGE = #{ageGroup})
        	</if>
	    GROUP BY 
	        W_NAME
	    ORDER BY 
	        count DESC
	    Limit 10;
	</select>
	
	<select id="getLibraryRank" resultType="map">
	    SELECT
		    <!-- DATE_FORMAT(ML.ML_REG_DATE, '%Y-%m') AS month, -->
		    L.L_NAME AS libraryName, 
		    L.L_ADDRESS AS libraryAddress,
		    Count(*) AS l_name_cnt
		    <!-- L.L_ADDRESS AS libraryAddress,
		    U.U_SEX AS gender,
		    U.U_AGE AS ageGroup -->
		FROM TBL_MY_LIBRARY ML 
		JOIN TBL_USER U ON ML.ML_U_ID = U.U_ID
		JOIN TBL_LIBRARY L ON ML.ML_L_CODE = L.L_CODE
		WHERE 
		    (DATE_FORMAT(ML.ML_REG_DATE, '%Y') = #{year})
		    <if test = "month != ''">
		    	AND (DATE_FORMAT(ML.ML_REG_DATE, '%m') = #{month})
		    </if>
		    <if test = "gender != ''">
		    	AND (U.U_SEX = #{gender})
		    </if>
		    <if test = "ageGroup != ''">
		    	AND (U.U_AGE = #{ageGroup})
		    </if>
		    <if test = "region != ''">
		    	AND (SUBSTRING_INDEX(L.L_ADDRESS, ' ', 1) = #{region})
		    </if>
		GROUP BY 
			L.L_NAME, L.L_ADDRESS
		ORDER BY 
		    l_name_cnt DESC
		LIMIT 5;
	</select>

</mapper>