<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.booklink.user.UserMapper">

<select id="isUser"
		parameterType="com.office.booklink.user.UserDto" 
		resultType="com.office.booklink.user.UserDto">
		SELECT * FROM TBL_USER
		WHERE U_ID = #{U_ID};
</select>

<select id="addUser"
		parameterType="com.office.booklink.user.UserDto" 
		resultType="com.office.booklink.user.UserDto">
		INSERT INTO TBL_USER
		(U_ID, U_PW, U_PHONE, U_SEX, U_AGE, U_ZIPCODE,
		U_POST_ADDRESS, U_DETAIL_ADDRESS
		<if test='U_SNS_ID != ""'>
			,U_SNS_ID
 		</if>
		)
		VALUES (#{U_ID}, #{U_PW}, #{U_PHONE}, #{U_SEX}, #{U_AGE}, 
		#{U_ZIPCODE}, #{U_POST_ADDRESS}, #{U_DETAIL_ADDRESS}
		<if test='U_SNS_ID != ""'>
			,#{U_SNS_ID}
 		</if>
 		) 
</select>

<select id="modifyUser"
		parameterType="com.office.booklink.user.UserDto" 
		resultType="com.office.booklink.user.UserDto">
		UPDATE TBL_USER
		SET 
		<if test='U_PW != ""'>
			U_PW=#{U_PW},
 		</if>
 		<if test='U_SNS_ID != ""'>
			U_SNS_ID=#{U_SNS_ID},
 		</if>
		U_PHONE=#{U_PHONE}, U_SEX=#{U_SEX}, U_AGE=#{U_AGE}, U_ZIPCODE=#{U_ZIPCODE}, 
		U_POST_ADDRESS=#{U_POST_ADDRESS}, U_DETAIL_ADDRESS=#{U_DETAIL_ADDRESS} 
		WHERE U_ID=#{U_ID}
</select>

<select id="deleteUser"
		parameterType="com.office.booklink.user.UserDto" 
		resultType="com.office.booklink.user.UserDto">
		DELETE FROM TBL_USER
		WHERE U_ID=#{U_ID}
</select>



</mapper>