<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.booklink.user.UserDao">

<select id="isUser"
		parameterType="com.office.booklink.user.UserDto" 
		resultType="com.office.booklink.user.UserDto">
		SELECT * FROM TBL_USER
		WHERE U_ID = #{U_ID};
</select>

<select id="addUser"
		parameterType="com.office.booklink.user.UserDto" 
		resultType="com.office.booklink.user.UserDto">
		insert into tbl_user
		(U_ID, U_PW, U_PHONE, U_SEX, U_AGE, 
		U_POST_ADDRESS, U_DETAIL_ADDRESS)
		VALUES (#{U_ID}, #{U_PW}, #{U_PHONE}, #{U_SEX}, #{U_AGE}, 
		#{U_POST_ADDRESS}, #{U_DETAIL_ADDRESS}) 
</select>

</mapper>