<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.booklink.user.wishlist.WishlistMapper">
	
	<insert id="insertWishBook" parameterType="com.office.booklink.user.wishlist.WishBookDto">
        INSERT INTO TBL_WISHLIST 
        (W_U_ID, W_ISBN13, W_AUTHORS, W_NAME, W_PUBLISHER, W_BOOKIMAGEURL)
        VALUES 
        (#{W_U_ID}, #{W_ISBN13}, #{W_AUTHORS}, #{W_NAME}, #{W_PUBLISHER}, #{W_BOOKIMAGEURL})
    </insert>
    
    <select id="selectUserWishBooks" parameterType="String" resultType="com.office.booklink.user.wishlist.WishBookDto">
        SELECT * FROM TBL_WISHLIST
        WHERE W_U_ID = #{userId}
        ORDER BY W_NO DESC
    </select>
    
    <delete id="deleteWishBook" parameterType="com.office.booklink.user.wishlist.WishBookDto">
        DELETE FROM TBL_WISHLIST
        WHERE W_U_ID = #{W_U_ID} AND W_ISBN13 = #{W_ISBN13}
    </delete>
    
    <update id="updateWishBook" parameterType="com.office.booklink.user.wishlist.WishBookDto">
        UPDATE TBL_WISHLIST
	    SET W_B_READ = #{W_B_READ}
	    WHERE W_U_ID = #{W_U_ID} AND W_ISBN13 = #{W_ISBN13}
    </update>
    
    <insert id="insertMyLibrary" parameterType="com.office.booklink.user.wishlist.WishLibraryDto">
        INSERT INTO TBL_MY_LIBRARY 
        (ML_U_ID, ML_L_CODE)
        VALUES 
        (#{ML_U_ID}, #{ML_L_CODE})
    </insert>
    
    <delete id="deleteMyLibrary" parameterType="com.office.booklink.user.wishlist.WishLibraryDto">
        DELETE FROM TBL_MY_LIBRARY
        WHERE ML_U_ID = #{ML_U_ID} AND ML_L_CODE = #{ML_L_CODE}
    </delete>
    
    <select id="selectUserWishLibraries" parameterType="String" resultType="com.office.booklink.library.LibraryDto">
	    SELECT 
	        *
	    FROM 
	        TBL_MY_LIBRARY ML
	    JOIN 
	        TBL_LIBRARY L ON ML.ML_L_CODE = L.L_CODE
	    WHERE 
	        ML.ML_U_ID = #{userId}
	    ORDER BY ML_NO DESC
	</select>

</mapper>